# **Module 3: Data Structures Assignments**
## **New Section**
# **Lesson 3.2: Tuples**
Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [3]:
my_tuple=(tuple(range(1,10+1)))
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [29]:
first,*middle,last=my_tuple
print(f"first={first} middle={middle} last{last}")
st=my_tuple[0]
mid=my_tuple[int(len(my_tuple)//2-1)]
end=my_tuple[-1]
print(f"first={st} mid= {mid} last{end}")

first=1 middle=[2, 3, 4, 5, 6, 7, 8, 9] last10
first=1 mid= 5 last10

Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [30]:
print(my_tuple[:3])
print(my_tuple[-3:])
print(my_tuple[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
my_tuple=((1,2,3),(4,5,6),(7,8,9))
print(my_tuple)
print(my_tuple[1][2])

Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [33]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [38]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element=2
count = my_tuple.count(element)
print(f"The element {element} appears {count} times.")

index_of= my_tuple.index(element)
print(f"The first occurrence of {element} is at index {index_of}.")

The element 2 appears 3 times.
The first occurrence of 2 is at index 1.

Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [39]:
my_tuple=(1,2,3,4,5)
a,b,c,d,e=my_tuple
print(a,b,c,d,e)

1 2 3 4 5

Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [42]:
my_list=list(range(1,6))
print(my_list)
my_tuple=tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [51]:


tuple1= ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(tuple1[0])
print(tuple1)

(1, 2, 3)
((1, 2, 3), (4, 5, 6), (7, 8, 9))

Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [53]:
my_tuple=(1,2,3,4,5)
print(my_tuple)
my_list=list(my_tuple)
my_list.append(6)
my_tuple=tuple(my_list)

print(my_tuple)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [54]:
my_tuple=('s','a','t','y','a')
name="".join(my_tuple)
print(name)

satya

Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [55]:
my_dict = {(1, 2): 10,
           (3, 4): 20,
           (5, 6): 30}
print(my_dict)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [58]:
my_tuple=((1,2),(3,4),(4,5))
for i in my_tuple:
  for j in i:
    print(j,end=" ")

1 2 3 4 4 5

Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [59]:
my_tuple=(1,2,2,3,4,5,5)
my_set=set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [60]:
my_tuple=(2,3,5,9,10,33,55)
print(f"Maximum={max(my_tuple)}")
print(f"Minimum={min(my_tuple)}")
print(f"Sum={sum(my_tuple)}")

Maximum=55
Minimum=2
Sum=117