# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [4]:
my_list=list(range(1,20+1))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [14]:
#unpacking of list
print("Un packing")
first,*middle,last=my_list
print(first)
print(middle)
print(last)
print("-"*20)
print("first, middle, and last elements of the list")
print(my_list[0])
print(my_list[20//2-1])
print(my_list[19])

Un packing
1
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
20
--------------------
first, middle, and last elements of the list
1
10
20


Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [20]:
print(my_list[:5])
print(my_list[5:15])
print(my_list[-5:])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[16, 17, 18, 19, 20]

Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [21]:
num=10
squares=[num**2 for num in range(1,num+1)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [23]:
even_nums=[num for num in range(1,num+1) if num%2==0]
print(even_nums)

[2, 4, 6, 8, 10]

Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [30]:
list1=[0,4,6,2,8,4,1,5,6,9]
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)
print(set(list1))

[0, 1, 2, 4, 4, 5, 6, 6, 8, 9]
[9, 8, 6, 6, 5, 4, 4, 2, 1, 0]
{0, 1, 2, 4, 5, 6, 8, 9}

Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [38]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
for i in matrix:
  print(i)

print(matrix[1][2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
6

Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [48]:
dict=[{"name": "satya" ,"score":30},
      {"name": "karthik","score":45},
      {"name":"krishna","score":47}]

print(dict)
sort_dict=sorted(dict, key=lambda x:x["score"],reverse=True)
print(sort_dict)
sorted(dict,key=lambda x: len(x["name"]),reverse=True)

[{'name': 'satya', 'score': 30}, {'name': 'karthik', 'score': 45}, {'name': 'krishna', 'score': 47}]
[{'name': 'krishna', 'score': 47}, {'name': 'karthik', 'score': 45}, {'name': 'satya', 'score': 30}]

[{'name': 'karthik', 'score': 45},
 {'name': 'krishna', 'score': 47},
 {'name': 'satya', 'score': 30}]

Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [57]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in matrix:
  print(i)
transposed_matrix = [list(row) for row in zip(*matrix)]
print()
for i in transposed_matrix:
  print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [60]:
my_list= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten=[num for i in my_list for num in i]
print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [63]:
my_list=list(range(1,10+1))
print(my_list)
for i in [2,4,6]:
  list.pop(my_list,i)
print(my_list)
my_list.insert(5,99)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 4, 5, 7, 8, 10]
[1, 2, 4, 5, 7, 99, 8, 10]

Assignment 12: List Zipping

Create two lists of the same length. Use the zip function to combine these lists into a list of tuples and print the result.

In [66]:
l1=[1,2,3,4,5,]
l2=["HI", "Hello","Happy","Sad","Welcome","satya"]
zip_list=list(zip(l1,l2))
print(zip_list)

[(1, 'HI'), (2, 'Hello'), (3, 'Happy'), (4, 'Sad'), (5, 'Welcome')]

Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [70]:
l1=[1,2,3,4,5,]
new_list=l1[::-1]
print("original  list ",l1)
print("reversed list  ",new_list)

original  list  [1, 2, 3, 4, 5]
reversed list   [5, 4, 3, 2, 1]

Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [74]:
l1=[1,2,3,4,5,]
n=4
new_list=l1[n:]+l1[:n]
print("original  list ",l1)
print("rotated list  ",new_list)

original  list  [1, 2, 3, 4, 5]
rotated list   [5, 1, 2, 3, 4]

Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [79]:
l1=[1,2,3,4,5,6,8]
l2=[2,5,6,4,2,8,9,0]
combin=[num for num in l1 if num in l2]
print(combin)

[2, 4, 5, 6, 8]